@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
*
    &:not(input)
        text-transform: capitalize
::-webkit-scrollbar
    width: 5px
    height: 5px
    display: block
    background: #33333300
::-webkit-scrollbar-thumb
    background: #636363
    border-radius: 5px
#main
    min-height: 100vh
    // background: #fafafa
    background: url(./images/background3.svg) no-repeat right
    background-size: cover
#header
    min-height: 12.5vh !important
.body
    min-height: 87.5vh
.link-dark
    text-decoration: none
.input-m
    margin: 1rem 0.25rem
.register-footer
    font-size: 12px
.pointer
    cursor: pointer
.con-content
    p
      margin 20px 0px
      position relative
      display block
      font-size .9rem
#min-width,
#game-btn
    width: 275px !important
#question
    width: 60rem !important
    min-height: 30rem
    // background: #fafafa
    // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px
    // border-radius: 15px
#card
    min-height: 10rem !important
#done
    min-width: 10rem !important
.bg-white
    // background: #fafafa
    // box-shadow: 20px 20px 60px #d5d5d5,-20px -20px 60px #ffffff
    border-radius: 15px
    background: rgba( 255, 255, 255, 0.15 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 4px )
    -webkit-backdrop-filter: blur( 4px )
    border: 1px solid rgba( 255, 255, 255, 0.18 )
#navbar
    background: rgba( 255, 255, 255, 0.00 )
.paddingScrollActive
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 4px )
    -webkit-backdrop-filter: blur( 4px )
    border-radius: 0 !important
    border: 1px solid rgba( 255, 255, 255, 0.18 )
.h
    font-family: 'Roboto', sans-serif
